.ql-toolbar.ql-snow {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
} 
.ql-container.ql-snow{
    min-height: 200px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.form-group{
    input{
        padding: 8px 10px !important;
    }
}